* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(222, 226, 228);
}

#headingimg1 {
    width: 10vh;
    height: 10vh;
}

header {
    background-color: rgb(215, 224, 224);
    height: 9vh;
    padding: 2vh;
    color: aliceblue;
    border-bottom: 3px;
    border-color: rgb(176, 184, 182);
    border-bottom-style: solid;
    border-radius: 15px;
    margin-bottom:0px;
}

.heading1 {
    margin-left: 2vw;
    color: black;
    display: flex;
    align-items: center;
}

#company_name {
    text-shadow: 1.3px 1.3px rgb(90, 88, 88);
}

#head_separator {
    color: rgb(233, 120, 14);
    font-size: 2.5rem;
}

nav ul {
    margin-right: 4vw;
}

nav li {
    display: inline-block;
    list-style: none;
    font-size: 1.15rem;
    font-weight: bold;
    color: black;
    margin: 0vh 2vh 0vh;
    
    padding: 10px;
    background-color: rgba(182, 201, 201, 0.781);
}

#search_box {
    border: 0px;
    background-color: rgb(215, 224, 224);
}

#searcher {
    width: 16vw;
    height: 5vh;
    border: 2px solid rgb(112, 110, 110);
    border-radius: 5px;
}

#submitter {
    padding: 1.5vh;
    width: 6vw;
    font-weight: 500;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


.all_container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.container2{
    height:85vh;
    width:60%;
    margin-left:10%;
    background-color: rgb(239, 244, 245);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px 8px 5px grey;
    border: 1.5px solid rgb(43, 42, 42);
    border-top: none;
    display:flex;
    align-content: center;
    justify-content: center;
}

#quote_box{
    margin:3%;
    margin-right:20%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#quote{
    color:rgb(4, 5, 61);
    width:60%;
    text-align:justify;
    margin-left:20%;
    font-size:1.5rem;
    font-weight:500;
}

#quoter{
    color:rgb(233, 120, 14);
    text-align:right;
    margin-right:13px;
    font-size:25px;
}


.container3{
    width:25%;
    height:85vh;
    border:2px solid red;
    background-color: rgb(239, 244, 245);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -8px 8px 5px grey;
    border: 1.5px solid rgb(43, 42, 42);
    border-top: none;
    display:flex;
    flex-direction: column;

}

.courseimg{
    height: 25vh;
    border-radius: 15px;
    margin:2vw 2vw 0vw 1vw;
}

.courses{
    text-align: center;
    font-size: 1.2rem;
    font-weight:600;
    margin-bottom: 0vh;
    margin-top:0.2vh;
}

#heading2 {
    text-align: center;
    color: rgb(7, 49, 77);
    text-shadow: 1.3px 1.3px rgb(61, 61, 61);
    margin: 4vh 0vh 0vh;
    font-size: 2.1rem;
    font-style: oblique;
}

.container4{
    height: 150vh;
    width:60%;
    margin:5vh 5% 2% 10%;
    background-color: rgb(239, 244, 245);
    border-radius: 10px;
    box-shadow: 8px 8px 5px grey;
    border: 1.5px solid rgb(43, 42, 42);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 600;
    color:black;

}

#text1{
    width:90%;
    padding:10%;
}

#through{
    font-style: oblique;
    padding:10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 600;
    color:black;
}

#images1 img{
    height:40vh;
    border-radius: 10px;
    box-shadow: 8px 5px grey;
}

#video_lessons{
    height:40vh;
    border-radius: 10px;
    box-shadow: 8px 5px grey;
}

#images2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
#images1{
    display:flex;
    flex-direction: row;
    align-content: center;
    margin:20px 5px;


}
footer{
    height:8vh;
    color:grey;
    text-align: center;
    padding-top:4vh;
}



