@media screen and (max-width:620px){
    #navigation{
        display:none;
    }
    #searcher{
        width:40vw;
        margin-right: 3vw;
    }
    #head-search{
        width:100%;
    }
    header{
        padding:0vh;
    }
    #nav_for_mobile li{
        margin:0px;
        padding: 9px;
    }
    #nav_for_mobile li:hover{
        padding:9px;
    }
    #nav_for_mobile{
        display:flex;
        justify-content:center;

    }
    #quote_box{
        padding:0;
        margin: 0;
        width:100%;
        display:flex;
        flex-direction: column-reverse;
    }
    #quote{
        width:90%;
        margin-left: 1px;
        text-align: center;
    }
        #quote_img{
            height:150px;
        }
}